.top
{
    padding-top: .75rem;
    padding-bottom: .75rem;
    min-height: 4rem;
    background-color : rgb(172, 33, 84);
}

body
{


  /* opacity: 0.5;*/
}

.img_bg{
  background-image: url(../Saude_Da_Mulher/Imagens/Home/home1.jpg);
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.img2{
  background-image: url(../Saude_Da_Mulher/Imagens/Home/home2.jpg);
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover; /* Resize the background image to cover the entire container */
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
p.text
{
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
 font-size: 150%;
}

.logo{
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
}

.shadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/* .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search{
  float: right;
  padding-top: 20px;
  /* padding-bottom: .75rem; 
  padding-right: 100px;
  padding-left: 80px;
  color: #ffffff;
} */

.palavras{
  /* padding-top: 25%;padding-left: 30%; */
  padding-top: 10%;
  align-content: center;
  
}

.jqcloud{
  margin-left: auto;
  margin-right: auto;
}
  .openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }

  .jqcloud-word :hover {
    color: #ff000d !important;
    cursor: pointer; 
  }

  .jqcloud {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: 700;
    line-height: 1.167;
    line-height: normal;
    overflow: hidden;
    position: relative;
    transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0.3s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0.3s;
  }
  
  .jqcloud-word {
    margin: 0;
    padding: 0;
  }
  .jqcloud-word.w1 {
    color: #aab5f0;
    font-size: 100%;
  }
  .jqcloud-word.w2 {
    color: #99ccee;
    font-size: 150%;
  }
  .jqcloud-word.w3 {
    color: #a0ddff;
    font-size: 200%;
  }
  .jqcloud-word.w4 {
    color: #90c5f0;
    font-size: 250%;
  }
  .jqcloud-word.w5 {
    color: #90a0dd;
    font-size: 300%;
  }
  .jqcloud-word.w6 {
    color: #90c5f0;
    font-size: 350%;
  }
  .jqcloud-word.w7 {
    color: #3399dd;
    font-size: 400%;
  }
  .jqcloud-word.w8 {
    color: #00ccff;
    font-size: 450%;
  }
  .jqcloud-word.w9 {
    color: #00ccff;
    font-size: 500%;
  }
  .jqcloud-word.w10 {
    color: #00ccff;
    font-size: 550%;
  }
  .jqcloud-word a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  .jqcloud-word a:hover {
    color: #ff000d !important;
    cursor: pointer; 
  }
  
  .jqcloud-word.w2 :hover {
    color: #ff000d !important;
    cursor: pointer; 
  }
 .image_modal{
    background-color: #ddd;
    border-radius: 100%;
    height: 300px;
    object-fit: cover;
    width: 300px;  
    margin:16%;
  }
  
  .box{
    display: inline-block;
    width: 40%;
    box-sizing: inherit;
  }
  
  .box p{
    margin: 0;
      width: 450px;
    margin-top:21px;
    box-sizing: inherit;
  }
  
  .boxes{
    flex-wrap: nowrap;
    display: flex;
    padding-top: 1rem!important;
    box-sizing: inherit;
  }
  
  @media (max-width: 360px){
    .image_modal{
      background-color: #ddd;
      border-radius: 100%;
      height: 300px;
      object-fit: cover;
      width: 300px;  
      margin:3%;
    }
  }
  
  a:hover{
    color: #ffffff !important;
  }
  
 ul.tx3-tag-cloud {
}
ul.tx3-tag-cloud li {
display: block;
float: left;
list-style: none;
margin-right: 4px;
}
ul.tx3-tag-cloud li a {
display: block;
text-decoration: none;
color: #6f2f53;
padding: 3px 10px;
}
ul.tx3-tag-cloud li a:hover {
color: #000000;
-webkit-transition: color 250ms linear;
-moz-transition: color 250ms linear;
-o-transition: color 250ms linear;
-ms-transition: color 250ms linear;
transition: color 250ms linear;
}

  